.dropzone{
  width: 100% !important;
  height: 30% !important;
  border: 2px dashed #ccc;
  color: #ccc;
  text-align: center;
  line-height: 10px;
  padding-top: 5%;
  font-size: 20px;
}
.dropzone.dropover{
  border-color: #000;
  color: #000;
}
.hover {
  border: 2px dashed rgb(88, 88, 88);
}
.valid {
  border: 2px dashed rgb(0, 233, 39);
}
.invalid {
  border: 2px dashed rgb(204, 0, 0);
}
