.userbg{
    background-image: url('../assets/images/bguser.svg') !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}