.box {
    border: 1px solid #BBB;
    display: inline-block;
  }
  .beginner:before {
    content: "";
    z-index: -1;
    overflow: hidden;
    transform: rotate(-135deg);
    width: 120px;
    display: block; 
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 34px;
    right: -16px;
    clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px,  110px 30px);
    height: 20px;
    width: 120px;
  }
  .beginner:after {
    content: "BEGINNER";
    z-index: 1;
    overflow: hidden;
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    width: 120px;
    display: block; 
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 20px; right: -30px;
    clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px,  110px 30px)
  }
  .intermediate:before {
    content: "";
    z-index: -1;
    overflow: hidden;
    transform: rotate(-135deg);
    width: 120px;
    display: block; 
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 34px;
    right: -16px;
    clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px,  110px 30px);
    height: 20px;
    width: 120px;
  }
  .intermediate:after {
    content: "INTERMEDIATE";
    z-index: 1;
    overflow: hidden;
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    width: 120px;
    display: block; 
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 20px; right: -30px;
    clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px,  110px 30px)
  }
  .expert:before {
    content: "";
    z-index: -1;
    overflow: hidden;
    transform: rotate(-135deg);
    width: 120px;
    display: block; 
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 34px;
    right: -16px;
    clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px,  110px 30px);
    height: 20px;
    width: 120px;
  }
  .expert:after {
    content: "EXPERT";
    z-index: 1;
    overflow: hidden;
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    width: 120px;
    display: block; 
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 20px; right: -30px;
    clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px,  110px 30px)
  }

  .pulsebtn
{
width:320px;
white-space:nowrap;
display:block;
padding:5px;
box-shadow:0 0 0 0 #18b903;
border-radius:50px;
background-color:#18b903;
-webkit-animation:pulsing 1.25s infinite cubic-bezier(.66,0,0,1);
-moz-animation:pulsing 1.25s infinite cubic-bezier(.66,0,0,1);
-ms-animation:pulsing 1.25s infinite cubic-bezier(.66,0,0,1);
animation:pulsing 1.25s infinite cubic-bezier(.66,0,0,1);
font-size:23px;
font-weight:600;
padding-top:20px;
font-family:sans-serif;
text-decoration:none;
transition:all 300ms ease-in-out
}
@-webkit-keyframes 
pulsing{to{box-shadow:0 0 0 20px transparent}}